$first_background : #E9DFBB;
$color_img_circle: 1em solid #DCBD8D;
$img_line: 2em;
$img_position: relative;
$img_position_bottom: 3em;
$description_title_margin: 1em;
$description_margin: 2em;
$thinner_font: 'Source Sans Pro', sans-serif;
$roundedborder_img: 20px;
$second_background:#F4F4F4;
$color_title: #DD6D6A;
$text_center: center;
$text_right: right;
$text_left: left;
$icon_size: 14px;
$icon_color: #A0796B;
$line_height: 2;
$float_left: left;
$float_right: right;
$third_background: #4B3A3A;
$cream_color: #F4C891;
$circle: 50%;
$line: 37em;
$color_line_circle: 0.5px solid #FFFFFF;
$inlineblock: inline-block;
$rrss: 7.5em;
$border_rrss: 0.4em solid #E18564;
$rrss_background: #BFB592;
$fourth_background: #301F1F;
$margin_right:0.7em;